/* src/index.css */
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cubio+Wide:wght@400;500;600;700&display=swap');

body {
  font-family: 'Cubio Wide', sans-serif;
}
@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }
}

*{
  background-color: black !important;
}